</div>
<footer class="footer">
	<div class="block_inner">
		<div class="top_footer">
			<div class="col">
				<div class="title">Indicators</div>
				<ul>
					<li><a href="">Homepage</a></li>
					<li><a href="">Countries</a></li>
					<li><a href="">Indicators</a></li>
					<li><a href="">Calendar</a></li>
					<li><a href="">Forecasts</a></li>
					<li><a href="">Ratings</a></li>
				</ul>
			</div>
			<div class="col">
				<div class="title">Solutions</div>
				<ul>
					<li><a href="">Data Subscriptions</a></li>
					<li><a href="">API Access</a></li>
					<li><a href="">Excel Add-In</a></li>
					<li><a href="">Developer Account</a></li>
					<li><a href="">Documentation</a></li>
					<li><a href="">Pricing</a></li>
				</ul>
			</div>
			<div class="col">
				<div class="title">About Us</div>
				<ul>
					<li><a href="">Customers</a></li>
					<li><a href="">Careers</a></li>
					<li><a href="">Investors</a></li>
					<li><a href="">Advertisers</a></li>
					<li><a href="">About us</a></li>
					<li><a href="">Privacy</a></li>
				</ul>
			</div>
		</div>
		<div class="copy">Copyright ©2024</div>
	</div>						
</footer>

</div>
<script src="js/main.js" async></script>
</body>
</html>