<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/bootstrap-icons.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<div class="site_wrapper">
	<header class="header">
		<div class="block_inner">
			<div class="burger"></div>
			<div class="logo"></div>
			<div class="menu_header">
				<ul>
					<li><a href="">Calendar</a></li>
					<li><a href="">News</a></li>
					<li><a href="">Markets</a></li>
					<li><a href="">Indicators</a></li>
					<li><a href="">Countries</a></li>
					<li><a href="">Forecasts</a></li>
				</ul>
			</div>
			<div class="search_block">
				<form action="">
					<input type="text" placeholder="Search">
				</form>
			</div>
			<div class="login">
				<i class="bi bi-person"></i>
			</div>
		</div>	
	</header>		
	<div class="content_block_wr">